
    <div class="social">
        <a href=""><img class="logo-footer" src="../images/Wise Trip Icon.png" alt="Wise Trip Logo" loading="lazy"></a>
        <div class="rrss">
            <a href="">
                <img src="../images/instagram.gif" alt="Instagram" loading="lazy">
            </a>
            <a href="">
                <img src="../images/facebook.gif" alt="Facebook" loading="lazy">
            </a>
            <a href="">
                <img src="../images/whatsapp.gif" alt="Whatsapp" loading="lazy">
            </a>
        </div>
    </div>
    <div class="review">
        <h1>WISE TRIP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic harum voluptate, modi ut sequi tempora adipisci
            itaque
            recusandae! Totam dolorum, vitae iusto tempora eos recusandae vero saepe illo inventore? Est</p>
        <p>Developed by Mignrod &copy 2025</p>
    </div>

    <div class="footer-links">
        <p>
            &copy 2025 Wise Trip Site. All rights reserved.
        </p>
        <p>
            Privacy Policy
        </p>
        <p>
            Terms of Service
        </p>
    </div>