
    <div class="name-section">
        <a href="https://mignrod.github.io/wdd330-project/index.html"><img class="logo" src="/wdd330-project/assets/images/Wise Trip Icon.png" alt="Wise Trip Logo" loading="lazy"></a>
        <h2 class="name-company">Wise Trip</h2>
    </div>

    <nav class="header-actions">
        <button class="add-destiny">
            <img class="plus-icon" src="/wdd330-project/assets/images/plus.svg" alt="Add" loading="lazy">
            <span>Add Destination</span>
        </button>
    </nav>
